<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <p>merhaba</p>
    <div id="user-info"></div>
</body>
<script>
    // const token = "your_token"; // Gerçek token değerini buraya ekleyin
    const token = req.query.token;

    // API'den kullanıcı bilgilerini alma
    axios.get('https://7536-78-177-177-231.ngrok-free.app/user/me', {
        headers: {
            Authorization: `Bearer ${token}`
        }
    })
    .then(response => {
        // Kullanıcı bilgilerini gösterme
        document.getElementById('user-info').innerText = JSON.stringify(response.data, null, 2);
    })
    .catch(error => {
        console.error('API çağrısı hatası:', error);
    });
</script>

</html>