<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram Callback</title>
</head>

<body>
    <p></p>
    <script>
        // URL'den hash kısmını al
        const hash = window.location.hash;

        if (hash) {
            // // #tgAuthResult= değerini almak için düzenli ifade kullan
            // const userId = new URLSearchParams(window.location.search).get('userId');
            const params = new URLSearchParams(hash.replace('#', '?'));

            // tgAuthResult değerini al
            const tgAuthResult = params.get('tgAuthResult');

            // if(userId && tgAuthResult) {
            //     fetch(`https://8f08-78-177-177-231.ngrok-free.app/telegram/telegramAddConnect`, {
            //         method: 'POST',
            //         headers: {
            //             'Content-Type': 'application/json'
            //         },
            //         body: JSON.stringify({ tgAuthResult, userId })
            //     })
            //         .then(response => response.text())
            //         .then(data => {

            //             console.log('Sunucudan gelen yanıt:', data);
            //             // Sunucudan gelen token'ı işleyin
            //             const token = data;
            //             console.log('Alınan token:', token);

            //             window.location.href = 'https://telagramapplegit-a55c4719cc06.herokuapp.com/?token=' + encodeURIComponent(token.replace(/"/g, ''));
            //         })
            //         .catch(error => {
            //             console.error('Bir hata oluştu:', error);
            //         });
            // }
            if (tgAuthResult) {
                // Sunucuya POST isteği gönder
                (async () => {
                    try {
                        const response = await fetch(`/login/telegramDeneme`, {
                            method: 'GET',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ tgAuthResult })
                        });
                        // const response = await fetch(`https://8f08-78-177-177-231.ngrok-free.app/telegram/connect`, {
                        //     method: 'POST',
                        //     headers: {
                        //         'Content-Type': 'application/json'
                        //     },
                        //     body: JSON.stringify({ tgAuthResult })
                        // });
                        // const data = await response.text();

                        // console.log('Sunucudan gelen yanıt:', data);
                        // // Sunucudan gelen token'ı işleyin
                        // const token = data;
                        // console.log('Alınan token:', token);
                        // localStorage.setItem('token', token);

                        // window.location.href = 'https://telagramapplegit-a55c4719cc06.herokuapp.com/?token=' + encodeURIComponent(token.replace(/"/g, ''));
                    } catch (error) {
                        console.error('Bir hata oluştu:', error);
                    }
                })();
            }
        }
    </script>
</body>

</html>